// *** This file is styling for the form to add a new option/error message *** //

// Refactored to default for mobile devices; media query for larger devices

.add-option-error {
    color: $off-white;
    font-style: italic;
    margin: $m-size 0 0 0; // <-- top margin only
    padding: 0 $m-size; // <-- horizontal margin only
}

// Add option
.add-option {
    display: flex;
    flex-direction: column; // <-- default layout is column for mobile devices
    padding: $m-size;
}

// add-option element
.add-option__input {
    background: $dark-blue;
    border: none; // <-- first remove border before adding a custom border (input has default borders)
    color: $off-white;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    flex-grow: 1; // <-- stretches the input box to grow with the screen
    margin: 0 0 $s-size 0; // <-- no horizontal margin on mobile devices
    padding: $s-size;
}

// *** MEDIA QUERIES *** //

/* 
/ checks screen width and applies styles based on condition
*/
@media (min-width: $desktop-breakpoint) {
    .add-option {
        flex-direction: row; // <-- changes input/button layout to row from column
    }
    .add-option__input {
        margin: 0 $s-size 0 0; // <-- space between input and button
    }
}