// *** Style for the application's buttons *** //

// Refactored to default for mobile devices; media query for larger devices

// 'What Should I Do?' button
.big-button {
    background-color: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    margin-bottom: $m-size;
    padding: 2.4rem;
    width: 100%;
}

.big-button:disabled {
    opacity: .5;
}

// 'Add Option' button
.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $s-size;
}

// 'Remove All' button modifier
.button--link {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}

// *** MEDIA QUERIES *** //

/* 
/ checks screen width and applies styles based on condition
*/
@media (min-width: $desktop-breakpoint) {
    .big-button {
        margin-bottom: $xl-size;
    }
}