// *** Styles for the Header component *** //

/*
/ variables (start with $) created in _settings.scss
/ Refactored to default for mobile devices; media query for larger devices
*/

.header {
    background: $off-black;
    color: white;
    margin-bottom: $m-size;
    padding: $m-size 0;
}

// header element
.header__title {
    font-size: $l-size;
    margin: 0;
}

// header element
.header__subtitle {
    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

// *** MEDIA QUERIES *** //

/* 
/ checks screen width and applies styles based on condition
*/
@media (min-width: $desktop-breakpoint) {
    .header {
        margin-bottom: $xl-size;
    }
}