// *** This file modifies the appearance of the React-Modal that displays the chosen option *** //

/*
/ This is the class name used by the React-Modal object
/ This is found in the browser's dev tools (Elements)
/ You can overwrite the styles by using the same class name (and child element targeting -- see the example with ">")
*/
.ReactModalPortal > div {
    opacity: 0;
}

/*
/ This targets the class (effect) within the parent class
/ Flex-box setup, and centers vertically/horizontally
*/
.ReactModalPortal .ReactModal__Overlay {
    align-items: center; // <-- vertical center
    display: flex;
    justify-content: center; // <-- horizontal center
    transition: opacity 200ms ease-in-out; // <-- CSS effect to fade in/out over .2 seconds
}

// This targets the class (modifier) within the parent class
.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

// This targets the class (modifier) within the parent class
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

// React-Modal 3rd Party component override
.modal {
    background: $light-blue;
    color: white;
    max-width: 30rem; // <-- force wrap if max-width exceeded
    outline: none; // <-- remove blue border
    padding: $l-size;
    text-align: center;
}

// modal element
.modal__title {
    margin: 0 0 $m-size 0; // <-- removes margin from everything but bottom
}

/* 
/ modal element
/ by default, words to not utilize line-break. Because of this, you need to manually set words to break!
*/
.modal__body {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 $l-size 0; // <-- removes margin from everything but bottom
    word-break: break-all; // <-- manually sets words to break
}