// *** Universal app styles *** //

// variables (start with $) created in _settings.scss

html {
    font-size: 62.5%; // <-- sets rem to a base 10 (1 rem = 16 pixels. 62.5% of 16 is 10 pixels)
}

body {
    background-color: $dark-blue;
    font-family: Helvetica, Arial, sasns-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

// remove input autofill input color, set to default dark
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $dark-blue inset;
}

// set input autofill text to white
input:-webkit-autofill {
    -webkit-text-fill-color: white;
}